*{ /*Reset les paramètres par défaut du browser*/
    margin: 0;
    padding: 0;
}
html{
    background-color: lavender;
}
body{
    margin: 0;
    padding: 0;
}
header{
    background: darkslateblue;
    font-weight: bold;
    color: white;
    margin: 0;
    min-height: 10vh;
}
h1{
    text-align: center;
    font-size: xxx-large;
}
h2{
    text-align: center;
    margin-bottom: 9px;
}

.announcement{
    font-weight: bold;
    text-align: center;
    background-color: lightsteelblue;
}



/* NAVIGATION TABS*/
.topnav {
    background-color: darkslateblue;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2; /*couleur texte du menu*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /*pas de surlignement*/
    font-size: 17px;
}
/* Active tab*/
.topnav a.active {
    background-color: slateblue;
    text-decoration: underline;
    color: white;
}



/*CONTAINERS*/
/*Centered container*/
.center{
    padding: 5%;
    font-size: large;
}

/*Form container*/
.container{
    margin: 0 auto;
    width: 70%;
    padding: 16px;
    background-color: lightsteelblue;
    box-shadow: 2px 2px 5px steelblue;
}

/*FIELDS*/
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="checkbox"]{
    width: auto;
}
input[type=file]{
    border: none;
}

/*BUTTONS*/
.big_submit_button {
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    display: block;
    width: 50%;
}
.little_submit_button {
    background-color: cornflowerblue;
    color: white;
}

/*Buttons and links go lighter when the mouse go over them */
button:hover, .topnav a:hover, .menu_button input:hover {
    opacity: 0.8;
}
/*Buttons on home page*/
.menu_button input{
    background-color: darkslateblue;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    display: block;
    width: 50%;
}
/*Button to log out*/
.LogOut{
    float: right
}

/*Error message when wrong password/login combination*/
.error_login{
    text-align: center;
    color: red;

}
/*Welcoming message */
.Welcome{
    display: block;
    font-size: larger;
    text-align: center;
}

/*div for forgotten password link */
.Forgotten_Password{
    text-align: right;
}

/*Div class for the genetic localisations*/
.localisation{
    display: inline-block;
    width: 49%;
}

/*Cell margin*/
td{
    padding-bottom: 9px;
}



