*{ /*Reset les paramètres par défaut du browser*/
    margin: 0;
    padding: 0;
}

/* For button, button:hover https://www.w3schools.com/howto/howto_css_login_form.asp*/

/*GENERAL*/
html{
    background-color: lavender;
}
body{
    position: relative;
    margin: 0;
    min-height: 100vh;
    padding: 0 0 2.5rem 0;
}
header{
    background: darkslateblue;
    font-weight: bold;
    color: white;
    margin: 0;
    min-height: 10vh;
}

footer{
    background: darkslateblue;
    text-align: center;
    bottom: 0;
    position: relative;
    width: 100%;
}

.footer_2{
    background: darkslateblue;
    text-align: center;
    bottom: 0;
    height: 2.5rem;
    position: absolute;
    width: 100%;
}

footer a, footer p{
    color: #f2f2f2;
}
h1{
    text-align: center;
    font-size: xxx-large;
}
h2{
    text-align: center;
    margin-bottom: 9px;
}

h3{
    text-align: center;
    font-weight: bold;
}

.announcement{
    font-weight: bold;
    text-align: center;
    background-color: lightsteelblue;
}



/* NAVIGATION TABS (https://www.w3schools.com/howto/howto_js_topnav.asp)*/
/*Background*/
.topnav {
    background-color: darkslateblue;
    overflow: hidden;
}
/*Links*/
.topnav a{
    float: left;
    color: #f2f2f2; /*couleur texte du menu*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /*pas de surlignement*/
    font-size: 17px;
}
/* Active tab*/
.topnav a.active {
    background-color: slateblue;
    text-decoration: underline;
    color: white;
}



/*CONTAINERS*/
/*Centered container*/
.center{
    padding: 5%;
    font-size: large;
}

/*Form container*/
.container{
    margin: 0 auto;
    width: 70%;
    padding: 16px;
    background-color: lightsteelblue;
    box-shadow: 2px 2px 5px steelblue;
}

/*FIELDS*/
/*General*/
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/*Checkbox*/
input[type="checkbox"]{
    width: auto;
}
/*File*/
input[type=file]{
    border: none;
}
/*Inputs to show information from DB*/
.info{
    align-items: center;
    display: inline-block;
    color: gray;
}
/*Title for some pages, that is obtained from DB*/
.title{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    color:darkslateblue;
}


/*BUTTONS*/
.big_submit_button {
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    display: block;
    width: 50%;
}
.little_submit_button {
    background-color: cornflowerblue;
    color: white;
}

/*Buttons and links go lighter when the mouse go over them */
button:hover, .topnav a:hover, .menu_button input:hover, .tab button:hover {
    opacity: 0.8;
}
/*Buttons on home page*/
.menu_button input{
    background-color: darkslateblue;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    display: block;
    width: 50%;
}
/*Button to log out*/
.LogOut{
    float: right
}

/*Error message when wrong password/login combination*/
.error_login{
    text-align: center;
    color: red;
}

/*div for forgotten password link */
.Forgotten_Password{
    text-align: right;
}

/*Div class to have two side by side*/
.double{
    vertical-align: top;
    display: inline-block;
    width: 49%;
}

.double > p{
    width: 95%;
    /*font-style: italic;*/
    overflow-wrap: break-word;
    font-size: smaller;
    text-align: justify;
    text-justify: inter-character;
}

/*TABS*/
.tabcontent{
    padding: 10px;
    border:1px solid darkslateblue;
    position:relative;
    background: #d1d1f6;
    border-radius: 0 0.5em 0.5em 0.5em;
    display: none;
}

.tabcontent.active{
    display: block;
}

/* Style the tab */
.tab {
    width: available;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    border-radius:0 0.5em 0.5em 0.5em;
    margin-bottom: -1px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font: inherit;
    background-color: darkslateblue;
    border-bottom-color:hsl(220, 100%, 98%);
    color: #f2f2f2;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Create an active/current tablink class */
.tab button.active {
    background-color:slateblue;
    text-decoration: underline;
}


/*EXTRA INFOS*/
.extra-info {
    display: none;
    line-height: 30px;
    font-size: 12px;
    position: relative;
    top: 0;
    left: 50px;
}

.info_span:hover .extra-info {
    display: block;
}

.info_span {
    font-size: 20px;
    padding-left: 5px;
    width: 20px;
    border-radius: 15px;
}

.info_span:hover {
    background-color: lavenderblush;
    padding: 0 0 0 5px;
    width: 315px;
    text-align: left !important;
}


.spaced_table{
    width: 100%;
}
.spaced_table>thead>tr>td{
    color: darkslateblue;
    font-weight: bold;
    border-bottom: 2px solid black;
}
.spaced_table>tbody>tr>td{
    padding-bottom: 1em;
    padding-right: 1em;
}



